@model IEnumerable<CSDHRProject.Models.PayrollModels>

@{
    ViewBag.Title = "PayrollHome";
}

<!-- Get this stupid thing to work later -->
<h2>@Html.DisplayNameFor(model => model.Name)'s Payroll Summary</h2>


<h6>@*@Html.ActionLink("Details", "Details")*@Instructions on entering timesheets</h6>
<h6>@*@Html.ActionLink("Details", "Details")*@Payroll Schedule</h6>

<br />

@* Link Table *@
<table class="table">
    <tr>
        <th>
            Calendars
        </th>
        <th>
            Timesheets
        </th>
        <th>
            Reports
        </th>
    </tr>
    <tr>
        <td>
            Employee Calendar
            @*@Html.ActionLink("Calendar", "Calendar", new { id = item.Id }) *@
        </td>
        <td>
            Add a Timesheet Entry
            @*@Html.ActionLink("Timesheet", "TimesheetEntry", new { id = item.Id }) *@
        </td>
        <td>
            Project Report
            @*@Html.ActionLink("Report", "ProjectReport", new { id = item.Id }) *@
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            Employee Timesheets
            @*@Html.ActionLink("Timesheet", "EmployeeTimesheet", new { id = item.Id }) *@
        </td>
        <td>
            Employee Report
            @*@Html.ActionLink("Report", "EmployeeReport", new { id = item.Id }) *@
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            Project Timesheets
            @*@Html.ActionLink("Timesheet", "ProjectTimesheet", new { id = item.Id }) *@
        </td>
        <td></td>
    </tr>
</table>

<br />

@* Project Table *@
<table class="table">
    <tr>
        <th>
            Project
        </th>
        <th>
            Enter Hours
            @*@Html.ActionLink("Timesheet", "TimesheetEntry", new { id = item.Id }) *@
        </th>
        <th>
            Hours Entered
        </th>
        <th>
            Hours Approved
        </th>
        <th>
            View Hours
            @*@Html.ActionLink("Timesheet", "EmployeeTimesheet", new { id = item.Id }) *@
        </th>
    </tr>
</table>
@*@Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-success" })
    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-info" })
    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })*@
