@model IEnumerable<CSDHRProject.Models.PayrollModels>
@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.Owin;

@{
    ViewBag.Title = "PayrollHome";
    var user = HttpContext.Current.GetOwinContext().GetUserManager<ApplicationUserManager>().FindById(User.Identity.GetUserId());
}

<!-- Get this stupid thing to work later -->
<h2>@user.UserName's Payroll Summary</h2>


<h6>@*@Html.ActionLink("Instructions", "Instructions")*@Instructions on entering timesheets</h6>
<h6>@*@Html.ActionLink("Calendar", "PayrollModelsController")*@Payroll Schedule</h6>

<br />

@* Link Table *@
<table class="table">
    <tr>
        <th>
            Calendars
        </th>
        <th>
            Timesheets
        </th>
        <th>
            Reports
        </th>
    </tr>
    <tr>
        <td>
            Employee Calendar
            @*@Html.ActionLink("Calendar", "PayrollModelsController") *@
        </td>
        <td>
            Add a Timesheet Entry
            @*@Html.ActionLink("Timesheet", "PayrollModelsController", new { id = item.Id }) *@
        </td>
        <td>
            Project Report
            @*@Html.ActionLink("Report", "PayrollModelsController", new { id = item.Id }) *@
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            Employee Timesheets
            @*@Html.ActionLink("Timesheet", "PayrollModelsController", new { id = item.Id }) *@
        </td>
        <td>
            Employee Report
            @*@Html.ActionLink("Report", "PayrollModelsController", new { id = item.Id }) *@
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            Project Timesheets
            @*@Html.ActionLink("Timesheet", "PayrollModelsController", new { id = item.Id }) *@
        </td>
        <td></td>
    </tr>
</table>

<br />

@* Project Table *@
<table class="table">
    <tr>
        <th>
            Project
        </th>
        <th>
            Enter Hours
            @*@Html.ActionLink("Timesheet", "PayrollModelsController", new { id = item.Id }) *@
        </th>
        <th>
            Hours Entered
        </th>
        <th>
            Hours Approved
        </th>
        <th>
            View Hours
            @*@Html.ActionLink("Timesheet", "PayrollModelsController", new { id = item.Id }) *@
        </th>
    </tr>
</table>

@*@Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-success" })
    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-info" })
    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })*@