body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* CSS for Job Application form for Job Detail page*/
.jobApplicationSubmitForm {
    padding: 3%;
    width: 70%;
    margin-left: 10%;
    display: inline-block;
    border: 3px solid black;
    border-radius: 20px;
}

.jobApplicationSubmitForm button {
    width: 100%;
}

.postingTable {
    border: 2px solid black;
}

.tableHeader th{
    text-align: center;
    background-color: black;
    color: white;
    border-left: 1px solid white;
}

.tableHeader td{
    border: 1px solid black;
}

.tableHeader button a{
    text-decoration: none;
    color: white;
}

#tableT {
    padding-left: 0;
    padding-right: 0;  
}

.tableBack {
    padding-top: 5%;
    padding-bottom: 5%;
}