@model IEnumerable<CSDHProject.Models.EmployeeClaim>

@{
    ViewBag.Title = "Index";
}

<h2>View Claims</h2>

<table class="table table-striped">
<tr>
<th>
    @Html.DisplayNameFor(model => model.Name)
</th>
<th>
    @Html.DisplayNameFor(model => model.Name)
</th>
<th>
    @Html.DisplayNameFor(model => model.Name)
</th>


</tr>
</table>
