@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title</h2>
<h3>Welcome to Phoneix Corporation's HR System!</h3>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dapibus scelerisque augue. Etiam id eros nisl. Phasellus id eleifend lectus. Quisque aliquam, leo id ornare vehicula, odio elit tincidunt sapien, a gravida ante lectus id augue. Vivamus vestibulum felis magna, in faucibus enim aliquam sed. Maecenas et tempus magna, a consectetur dolor. Pellentesque ut viverra mi, a egestas tortor. Quisque sit amet eros sit amet metus fringilla commodo volutpat malesuada dui. Phasellus tempus consectetur ligula sit amet vehicula. Sed aliquam est justo, sed sollicitudin ex efficitur vel. Donec pharetra aliquet sagittis.
</p>

<p>
    Nullam euismod porta massa egestas lacinia. Nam metus sem, tempor non pellentesque eu, rutrum quis est. Praesent mollis dapibus venenatis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum enim erat, vulputate in odio et, fermentum aliquam arcu. Sed varius leo faucibus rutrum condimentum. Praesent gravida sem egestas felis luctus, vel dapibus dolor tempor. Donec massa risus, blandit non vestibulum id, accumsan non ipsum. Curabitur ullamcorper, arcu in dignissim bibendum, nisi justo vulputate mi, in efficitur sem tellus in sem. Fusce sed congue lectus. Morbi efficitur eros sed dictum sodales. Suspendisse non neque aliquet, elementum felis sit amet, dignissim eros. Integer neque erat, laoreet in turpis sed, condimentum dapibus metus. Pellentesque suscipit magna quis nunc convallis, vitae lobortis augue placerat. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
</p>
<p>
    Cras interdum neque sit amet odio blandit euismod. Vestibulum vulputate, sem nec dictum facilisis, orci arcu cursus ligula, et posuere diam justo vel lorem. Aliquam placerat laoreet augue, a accumsan ipsum posuere bibendum. Aliquam purus est, venenatis vitae felis eget, eleifend gravida est. Cras faucibus libero eu orci volutpat porttitor. Morbi mauris justo, auctor quis metus quis, posuere congue neque. Fusce lobortis diam a accumsan ullamcorper. Vestibulum lobortis egestas egestas. Integer dolor metus, volutpat id risus convallis, euismod porta urna.
</p>
