@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title</h2>
<h3>For IT Assistance</h3>

<address>
    1457 London Road<br />
    Sarnia, ON N7S 1P6<br />
    <abbr title="Phone">P:</abbr>
    519-542-7751
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:IT@phoenixcorp.c">IT@phoenixcorp.ca</a><br />
</address>