@{
    ViewBag.Title = "Home";
}
<style>

    #feature img {
        margin:auto;
    }
</style>
<div class="row">
   
    <img id="feature" class="img-responsive" src="~/Content/images/logo_background.PNG" />
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Employee Authorization</h2>
        <p>
            The authorization determines whether to grant or deny access to a requested resource for a particular identity based on the authorization rules.
        </p>
        <p><a class="btn btn-default" href="/Account">Go &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Talent Recruitment</h2>
        <p>Provides personalized, selective recruitment services for professionals seeking jobs in today's hottest fields.</p>
        <p><a class="btn btn-default" href="/JobPostings">Go &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>New Hire Onboarding</h2>
        <p>Designed series of useful checklists that provide a step-by-step guide for managers and DLC's to navigate this process</p>
        <p><a class="btn btn-default" href="/NewHire">Go &raquo;</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Project Management</h2>
        <p>
            Project management is the discipline of initiating, planning, executing, controlling and closing the work of a team to achieve specific goals and meet
            specific success criteria
        </p>
        <p><a class="btn btn-default" href="/Project">Go &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Payroll Management</h2>
        <p>prepares professionals to manage a payroll department by introducing them to the most applicable core management skills.</p>
        <p><a class="btn btn-default" href="/Payroll">Go &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Benefits Management</h2>
        <p>Benefits management is the identification, definition, planning, tracking and realisation of business benefits.</p>
        <p><a class="btn btn-default" href="/BenefitRegistrations">Go &raquo;</a></p>
    </div>
</div>