@{
    ViewBag.Title = "Job Postings";
}
<style>

<div class="row">
    <div class="col-md-4">
        <h2>Benefit Selection</h2>
        <p>
            This page will allow you to select all of the options for your benefits.
        </p>
        <p><a class="btn btn-default" href="/BenefitRegistrations/Create">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Benefit Claim</h2>
        <p>This page will allow you to make a claim with your benefits.</p>
        <p><a class="btn btn-default" href="/EmployeeClaims/Create">Learn more &raquo;</a></p>
    </div>
    @*make this only visible to admins*@
    <div class="col-md-4">
        <h2>View Claims</h2>
        <p>This page will allow you to view the claims that have been made by employees.</p>
        <p><a class="btn btn-default" href="/EmployeeClaims/Index">Learn more &raquo;</a></p>
    </div>
</div>