@{
    ViewBag.Title = "Job Postings";
}
<style>

    #feature img {
        margin:auto;
    }
</style>
<div class="row">
   
    <img id="feature" class="img-responsive" src="~/Content/images/logo_background.PNG" />
    
</div>

<div class="row">
    <div class="col-md-4">
        <br />
        <h3>Business and Marketing</h3>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <br />
        <h3>Legal and Human Resources</h3>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        
    </div>
    <div class="col-md-4">
        <br />
        <img class="img-responsive" src="https://www.justinmind.com/usernote/tests/24805739/24812601/24812603/images/717978ba-0f09-419c-873e-881069c87794.png" />
    </div>
    <div class="col-md-4">
        <br />
        <h3>Network Engineers and Data Scientists</h3>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <br />
        <h3>Developers and Consultants</h3>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
    </div>
</div>