@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.Owin;
@{ 
    var userData = HttpContext.Current.GetOwinContext().GetUserManager<ApplicationUserManager>().FindById(User.Identity.GetUserId());
}
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @if (userData.firstname == null || userData.lastname == null || userData.Sin == null || userData.BenefitNumber == null ||
                 userData.RateOfPay == 0.00 || userData.VacationDays == 0.00 || userData.SickDays == 0.00 || userData.BenefitCertificateFileName == null ||
                 userData.TrainingCertificateFileName == null)
            {
                @Html.ActionLink("!", "Details", "NewHire", new { id = userData.Id }, htmlAttributes: new { color = "red" })
            }


        </li> 
        <li>
            @Html.ActionLink("Hello " + userData.firstname + "!", "Details", "NewHire",  new { id = userData.Id}, htmlAttributes: new { title = "Manage" })
        </li>
       
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
